<html>
<head>
	<title>Vault</title>

<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<style type="text/css">
body {
    text-align:center;
    background-color: #C7D8C6;
    color: #6E7474;
    font-size: 18px;
}

#formContainer {
    margin-top: 30px;
    border: 7px solid #EEDAC1;
    border-radius: 30px;
    background-color: #AAB8C1;
    padding-top: 50px;
    padding-bottom: 25px;
    color: #6E7474;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

label {
    margin-bottom: 40px;
}

#saveAcct {
    font-weight: bold;
}

#howTo {
    margin-top: 15px;
}

#myAcct {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: #AAB8C1;
    border: 7px solid #EEDAC1;
    border-radius: 15px;
}

</style>

</head>
<body>

<h2>Welcome to Password Vault!</h2>

<div class="col-md-6 col-md-offset-3" id="formContainer">
<form class="notebook" action="" method="post" enctype="multipart/form-data">
  <fieldset>
    <!-- <input class="notebookTitle" type="text" placeholder="Your Notebook Title" id="titleNum0" ></input> !-->
    
    
    <label class="col-md-6 col-md-offset-3">Account
    <input class="acctName" id="noteNum0" name="AccountName" />
    </label>

    <label class="col-md-6 col-md-offset-3">Username
    <input class="acctUser" id="username" name="AccountUserName" />
    </label>

    <label class="col-md-6 col-md-offset-3">Password
    <input class="acctPwd" id="password" name="AccountPassword" />
    </label>

    <input type="submit" id="saveAcct" class="btn col-md-6 col-md-offset-3" value="Save" />
  </fieldset>
  </form>
</div>
<div class="col-md-6 col-md-offset-3" id="howTo">
    <h3>How it works</h3>
    <p id="instruct">Enter the type of account (Facebook, Twitter, etc.) into the Account field, and the username and password into the
        Username and Password fields. When you click Save, you'll be given a unique ID that you'll need to remember. Next time you want to access that account's password
        type the following URL: localhost:3000/mypwds/(your id goes here).
</div>
<div class="col-md-6 col-md-offset-3" id="myAcct">
    <%= acctInfo %>
</div>
</body>
</html>